# epics-containers-cli==2.1.1
# use unreleased beta tags in requirements.txt when debugging CI i.e. :
epics-containers-cli -e git+https://github.com/epics-containers/epics-containers-cli.git@2.1.1b1#egg=epics-containers-cli
