epics-containers-cli==2.1.1
# NOTE: to debug the CLI you can use intermediate builds by looking in Actions and copying the 'dist' URL i.e.
# epics-containers-cli -e https://github.com/epics-containers/epics-containers-cli/suites/16919013647/artifacts/966547589